*~
*/*~
*.sqlite3

*.pyc
*.pyo
*/*.pyc
*/*.pyo
*.sqlite3


local_configuration.py
*/local_configuration.py


local_config.py
*/local_config.py


local_test_config.py
*/local_test_config.py


.DS_Store
Thumbs.db

.cache/*
*/*.log


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

